.component1 {
  width: 800px;
  height: 400px;
  background: green;
}

.component2 {
  width: 400px;
  height: 200px;
  background: blue;
}

.component3 {
  width: 200px;
  height: 100px;
}

.red {
  background: red;
}

.yellow {
  background: yellow;
}